$--color-primary: #ff6600;
$--color-success: #67c23a;
$--color-danger: #f52828 !default;
$--header-background: #ffffff;
$--content-background: #eaeef2;
$--header-height: 70px;
$--tabs-height: 47px;
$--tabs-background: #eaeef2;
$--slide-background: #303133;
$--slide-background-hover: rgb(48, 49, 51);
$--slide-menu-title-color: #fff;
$--slide-menu-title-active-color: #f66925;
